<!--    <slide>-->
<!--        <div class="text-center py-5 bg-dark text-white">-->
<!--            <h2>Second custom content</h2>-->
<!--            <div class="lead">-->
<!--                <h3>Second slide label</h3>-->
<!--                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </slide>-->
<ng-template [ngIf]="eventList.length > 0">
    <carousel [noPause]="compCarouselConfig.noPause">
        <ng-container *ngFor="let event of eventList">
            <slide class="comp-event-carousel-item fadeIn" (click)="slideClick(event.page_detail_id, event.page_name)">
                <div class="comp-event-grid-1">
                    <div class="event-item">
                        <div class="event-image-wrapper">
                            <img class="event-image" src="{{event.page_contents[0].json_content.event_images[0].url}}">
                            <button class="event-button btn btn-primary">Click to read more</button>
                        </div>
                        <div class="event-details">
                            <h3 class="event-title">{{event.page_name}}</h3>
                            <p class="event-short-description">{{event.page_description}}</p>
                            <div class="technical-details">
                                <fa-icon class="icon" icon="user"></fa-icon> {{event.user_credential_name}}
                                <fa-icon class="icon" icon="clock"></fa-icon> {{event.page_contents[0].json_content.event_date}}
                            </div>
                        </div>
                    </div>
                </div>
            </slide>
        </ng-container>
    </carousel>
</ng-template>
<ng-template [ngIf]="eventList.length == 0">
    <p style="font-size: 16px;">Stay Tuned! Events are coming.</p>
</ng-template>
