<div class="comp-resolution-item-container">
    <div class="page-header">
        <div class="header-text-container">
            <div class="header-text">
                <h1 class="header-title">{{resolutionTitle}}</h1>
                <span class="header-sub-title">
                    <a class="breadcrumb-link" [routerLink]="['/']">Home</a>
                    >
                    <a class="breadcrumb-link" [routerLink]="['/nusg-student-congress']">NUSG Student Congress</a>
                    &gt;
                    <a class="breadcrumb-link" [routerLink]="['/nusg-student-congress/resolutions']">Resolutions</a>
                    > {{resolutionTitle}}
                </span>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="resolution-content">
            <p class="resolution-description">
                {{resolutionItem?.resolution_description}}
            </p>
            <div class="spinner-wrapper spinner-center-text" *ngIf="!isResolutionPDFLoaded">
                <div class="spinner-border" role="status" aria-hidden="true"></div>
                <span class="spinner-text"> Loading... </span>
            </div>
            <pdf-viewer class="resolution-pdf-viewer" [src]="resolutionItem?.resolution_url[0]?.url"
                        [original-size]="true" [fit-to-page]="true"
                        [render-text]="true" [render-text-mode]="2" [show-borders]="false"
                        (after-load-complete)="isResolutionPDFLoaded = true"
            ></pdf-viewer>
        </div>
    </div>
</div>
