<div class="comp-resolution-list-container">
    <div class="page-header">
        <div class="header-text-container">
            <div class="header-text">
                <h1 class="header-title">Resolutions</h1>
                <span class="header-sub-title">
                    <a class="breadcrumb-link" [routerLink]="['/']">Home</a>
                    >
                    <a class="breadcrumb-link" [routerLink]="['/nusg-student-congress']">NUSG Student Congress</a>
                    &gt; Resolutions
                </span>
            </div>
        </div>
    </div>
    <div class="page-content">
        <section class="resolution-list" *ngIf="isResolutionListLoaded && resolutionList.length > 0">
            <div class="resolution-item" *ngFor="let resolution of resolutionList"
                 (click)="resolutionItemClickEvent(resolution?.resolution_id, resolution?.resolution_title)">
                <h3 class="header-text">{{resolution?.resolution_title}}</h3>
                <p class="author-date">by {{resolution?.uploaded_by}} | {{resolution?.uploaded_at | date}}</p>
                <p class="description">{{resolution?.resolution_description}}</p>
                <a class="read-more-link">Click to read more and see the document</a>
            </div>
        </section>
        <section class="resolution-list" *ngIf="isResolutionListLoaded && resolutionList.length == 0" style="min-height: 250px;">
            <p style="
                    color: black;
                    text-align: center;
                    font-size: 20px;
                    margin-top: 20px;">Stay tuned! Resolutions are coming.</p>
        </section>
    </div>
</div>
