<div class="comp-college-item-container">
    <div class="page-header">
        <div class="header-text-container">
            <div class="header-text">
                <img class="header-logo" *ngIf="isCollegeItemLoaded" [src]="collegeItemData.college_logo[0].url">
                <h1 class="header-title" *ngIf="isCollegeItemLoaded">{{collegeItemData.college_name}}</h1>
                <span class="header-sub-title">
                    <a class="breadcrumb-link" [routerLink]="['/']">Home</a>
                    >
                    <a class="breadcrumb-link" [routerLink]="['/colleges']">Colleges</a>
                    >
                    <span *ngIf="isCollegeItemLoaded">{{collegeItemData.college_name}}</span>
                </span>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="left-area">
            <div class="spinner-wrapper spinner-center-text" *ngIf="!isCollegeEventsLoaded">
                <div class="spinner-border" role="status" aria-hidden="true"></div>
                <span class="spinner-text"> Loading... </span>
            </div>
            <ng-template [ngIf]="isCollegeItemLoaded">
                <section class="introduction-section" [innerHTML]="collegeItemData.college_description">
                </section>
                <section class="courses-offered-section mobile">
                    <h2 class="section-title">Courses Offered</h2>
                    <ul class="course-list" *ngIf="isCollegeItemLoaded">
                        <li class="course-item">
                            <a target="_blank"
                               [href]="collegeItemData.college_courses_offered[0].url"
                               [ngStyle]="{'text-decoration': (collegeItemData.college_courses_offered.length === 0 ? 'none' : 'underline')}">Download Full List of Courses Offered PDF</a>
                            {{collegeItemData.college_courses_offered.length === 0 ? '(Available Soon)' : ''}}
                        </li>
                    </ul>
                </section>
                <section class="event-list-section">
                    <h2 class="section-title">Our Events</h2>
                    <div class="event-list">
                        <div class="event-item-container" *ngFor="let collegeEvent of collegeEvents">
                            <div class="event-item" (click)="eventItemClickEvent(collegeEvent.page_detail_id, collegeEvent.page_name)">
                                <div class="event-image-wrapper">
                                    <img *ngIf="collegeEvent.page_contents[0].json_content.event_images[0] !== undefined" class="event-image" [src]="collegeEvent.page_contents[0].json_content.event_images[0].url">
                                </div>
                                <div class="event-details">
                                    <p class="date-and-author">{{collegeEvent.page_contents[0].json_content.event_date | date: 'dd MMMM yyyy'}} | {{collegeEvent.user_credential_name}}</p>
                                    <h3 class="name">{{collegeEvent.page_name}}</h3>
                                    <p class="description">{{collegeEvent.page_description}}</p>
                                </div>
                            </div>
                        </div>
                        <ng-template [ngIf]="isCollegeItemLoaded && collegeEvents.length == 0">
                            <section class="event-item-container">
                                <p style="
                                    color: black;
                                    text-align: center;
                                    font-size: 16px;
                                    margin: 0;">Stay tuned! Events are coming.</p>
                            </section>
                        </ng-template>
                    </div>
                </section>
            </ng-template>
        </div>
        <div class="right-area">
            <section class="courses-offered-section desktop">
                <h2 class="section-title">Courses Offered</h2>
                <ul class="course-list" *ngIf="isCollegeItemLoaded">
                    <li class="course-item">
                        <a target="_blank"
                           [href]="collegeItemData.college_courses_offered[0].url"
                           [ngStyle]="{'text-decoration': (collegeItemData.college_courses_offered.length === 0 ? 'none' : 'underline')}">Download Full List of Courses Offered PDF</a>
                        {{collegeItemData.college_courses_offered.length === 0 ? '(Available Soon)' : ''}}
                    </li>
                </ul>
            </section>
            <section class="announcement-section">
                <div class="announcement-header">
                    <h2 class="section-title">Announcements</h2>
                </div>
                <div class="spinner-wrapper spinner-center-text" *ngIf="!isCollegeEventsLoaded">
                    <div class="spinner-border" role="status" aria-hidden="true"></div>
                    <span class="spinner-text"> Loading... </span>
                </div>
                <div class="announcement-body" id="facebook_container" *ngIf="isCollegeItemLoaded">
                    <fb-page [href]="collegeItemData.college_facebook_url" [width]="faceBookContainerWidth"
                             tabs="timeline" [adaptContainerWidth]="true"></fb-page>
                </div>
            </section>
        </div>
    </div>
</div>
