@import "../../variables.less";

.comp-page-about-us-container {
    /* =====  Page Header ===== */
    .page-header {
        position:relative;
        overflow: hidden;
        background-image: ~"url('/assets/img/event-list-header-bg.png')";
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        .header-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            height: 200px;
            z-index: 0;
        }
        .header-text-container {
            position: relative;
            min-height: 200px;
            background-color: rgba(7, 5, 138, 0.55);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .header-title {
            color: white;
            font-family: 'Sans-Serif-Pro', sans-serif;
            font-size: 30px;
            text-transform: uppercase;
            text-align: center;
            @media @tabletAndBelow {
                font-size: 25px;
            }
        }
        .header-sub-title {
            color: @primaryFontColorWhite;
            text-align: center;
            display: block;
            font-family: Roboto, sans-serif;
            font-size: 14px;
            .breadcrumb-link {
                color: @primaryFontColorWhite;
                text-decoration: underline;
            }
        }
    }
    /* =====  Page Content ===== */
    .page-content {
        background-color: @tertiaryBackgroundColor;
        /* =====  Page Content - About the National University Student Government ===== */
        .who-are-we-section {
            margin: 50px auto;
            width: 992px;
        }
        .logo-wrapper {
            width: 250px;
            display: inline-block;
            padding-bottom: 15px;
            .logo {
                width: 100%;
            }
        }
        .about-us-title {
            padding-bottom: 5px;
            .about-the-text {
                font-weight: 500;
                font-family: Roboto, sans-serif;
                font-size: 26px;
                margin-right: 5px;
                display: inline;
                border-bottom: 2px solid @secondaryBorderColor;
                padding-bottom: 3px;
            }
            .nusg-text {
                font-weight: 500;
                font-family: Source-Serif-Pro, sans-serif;
                font-style: italic;
                color: @tertiaryFontColor;
                font-size: 28px;
                display: inline;
            }
        }
        /* =====  Page Content - Vision & Mission ===== */
        .mission-vision-wrapper {
            display: inline-block;
            vertical-align: middle;
            padding: 20px;
            width: ~"calc(100% - 255px)";
            .vision-wrapper {
                margin-top: 15px;
            }
            .panel-header {
                display: inline-block;
                vertical-align: middle;
                width: 90px;
                margin-right: 25px;
                .icon {
                    display: block;
                    background: @secondaryBackgroundColor;
                    color: @primaryFontColorWhite;
                    text-align: center;
                    font-size: 53px;
                }
                .title {
                    display: block;
                    font-size: 16px;
                    text-align: center;
                    margin-top: 10px;
                }
            }
            .panel-body {
                display: inline-block;
                vertical-align: middle;
                width: ~"calc(100% - 115px)";
                .p-text {
                    text-align: justify;
                }
            }
            .panel-footer {
                display: inline-block;
                vertical-align: middle;
                margin-left: 25px;
                width: 90px;
                .icon {
                    display: block;
                    background: @secondaryBackgroundColor;
                    color: @primaryFontColorWhite;
                    text-align: center;
                    font-size: 53px;
                }
                .title {
                    display: block;
                    font-size: 16px;
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }
        .organizational-chart-section {
            background-color: @primaryBackgroundColor;
            padding: 50px;
            .organizational-chart-header {
                text-align: center;
                .title {
                    color: @tertiaryFontColor;
                    font-weight: 500;
                    font-family: Roboto, sans-serif;
                    font-size: 26px;
                    display: inline;
                    padding-bottom: 3px;
                }
                .know-our-text {
                    color: @primaryFontColorWhite;
                }
                .organizational-chart-text {
                    margin-left: 5px;
                    font-family: Source-Serif-Pro, sans-serif;
                    font-style: italic;
                    font-size: 27px;
                    border-bottom: 2px solid #FFD700;
                    padding-bottom: 3px;
                }
            }
            .organizational-chart-body {
                margin-top: 30px;
                padding: 5px;
                background-color: @tertiaryBackgroundColor;
                box-shadow: 0 0 2px 2px @secondaryBorderColor;
                .organizational-chart-image {
                    width: 100%;
                    padding: 10px;
                }
            }
        }
        .officers-section {
            background-color: @sixthBackgroundColor;
            padding: 50px;
            .officers-section-header {
                text-align: center;
                .officers-title {
                    padding-bottom: 5px;
                    .our-text {
                        display: inline;
                        margin-right: 5px;
                        padding-bottom: 3px;
                        font-family: Roboto, sans-serif;
                        font-size: 26px;
                    }
                    .officers-text {
                        display: inline;
                        font-weight: 500;
                        font-family: Source-Serif-Pro, sans-serif;
                        font-style: italic;
                        font-size: 28px;
                        color: @tertiaryFontColor;
                        border-bottom: 2px solid @secondaryBorderColor;
                    }
                }
            }
            .ck-content {
                table, td {
                    border: none;
                    figure {
                        border-radius: 50px;
                        overflow: hidden;
                        cursor: pointer;
                        -webkit-transition: ease-out 300ms;
                        -moz-transition: ease-out 300ms;
                        -ms-transition: ease-out 300ms;
                        -o-transition: ease-out 300ms;
                        transition: ease-out 300ms;
                        &:hover {
                            box-shadow: @primaryBoxShadow;
                            -webkit-transform: scale(1.05);
                            -moz-transform: scale(1.05);
                            -ms-transform: scale(1.05);
                            -o-transform: scale(1.05);
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
        @media @tabletAndBelow {
            .who-are-we-section {
                width: 100%;
                padding: 0 5%;
            }
            .about-us-title,
            .organizational-chart-header {
                text-align: center;
                line-height: 40px;
            }
            .organizational-chart-section,
            .officers-section {
                padding: 25px;
            }
        }
        @media @mobileAndBelow {
            .who-are-we-section {
                padding: 0;
                margin: 20px auto;
            }
            .mission-vision-wrapper {
                width: 100%;
            }
            .logo-wrapper {
                display: none;
            }
            .about-us-title {
                margin: 0 -10px;
                .about-the-text {
                    font-size: 22px;
                }
                .nusg-text {
                    font-size: 24px;
                }
            }
            .organizational-chart-section {
                .organizational-chart-header {
                    .title {
                        font-size: 22px;
                        .organizational-chart-text {
                            font-size: 24px;
                        }
                    }
                }
            }
            .officers-section {
                .officers-section-body {
                    tr, td {
                        display: block;
                    }
                }
            }
        }
    }
}
