@import "../../variables.less";

.comp-page-contact-us-container {
    /* =====  Page Header ===== */
    .page-header {
        position:relative;
        overflow: hidden;
        background-image: ~"url('/assets/img/event-list-header-bg.png')";
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        .header-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            height: 200px;
            z-index: 0;
        }
        .header-text-container {
            position: relative;
            min-height: 250px;
            background-color: rgba(7, 5, 138, 0.55);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .header-title {
            color: white;
            font-family: 'Sans-Serif-Pro', sans-serif;
            font-size: 30px;
            text-transform: uppercase;
            text-align: center;
            @media @tabletAndBelow {
                font-size: 25px;
            }
        }
        .header-sub-title {
            color: @primaryFontColorWhite;
            text-align: center;
            display: block;
            font-family: Roboto, sans-serif;
            font-size: 14px;
            .breadcrumb-link {
                color: @primaryFontColorWhite;
                text-decoration: underline;
            }
        }
    }
    /* =====  Page Content ===== */
    .page-content {
        background-color: @tertiaryBackgroundColor;
        position: relative;
        z-index: 2;
        .contact-us-wrapper {
            position: relative;
            top: -50px;
            display: flex;
            background: @tertiaryBackgroundColor;
            max-width: 992px;
            margin: 0 auto;
            border: 1px solid @forthBorderColor;
        }
        .left-content {
            width: 60%;
            padding: 15px;
        }
        .right-content {
            width: 40%;
            //background: @secondaryBackgroundColor;
            .google-maps {
                position: relative;
                padding-bottom: 75%; // This is the aspect ratio
                height: 0;
                overflow: hidden;
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100% !important;
                    height: 100% !important;
                }
            }
        }
        .icon-content, .text-content {
            display: inline-block;
        }
        .panel-group {
            margin: 10px;
        }
        .icon-content {
            vertical-align: middle;
            width: 50px;
            .icon {
                font-size: 40px;
                color: @tertiaryFontColor;
            }
        }
        .text-content {
            vertical-align: middle;
            padding: 0 15px;
            font-family: 'Sans-Serif-Pro', sans-serif;
            font-size: 15px;
            width: ~"calc(100% - 50px)";
            .heading {
                display: block;
                text-transform: uppercase;
            }
            .item {
                display: block;
                margin: 0;
                color: @secondaryFontColorGray;
            }
        }
        @media @mobileAndBelow {
            .contact-us-wrapper {
                -ms-flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                .left-content,
                .right-content {
                    width: 100%;
                }
            }
        }
    }
}
