@import "../../variables.less";

.comp-page-nusg-student-congress-container {
    /* =====  Page Header ===== */
    .page-header {
        position:relative;
        overflow: hidden;
        background-image: ~"url('/assets/img/event-list-header-bg.png')";
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        .header-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            height: 200px;
            z-index: 0;
        }
        .header-text-container {
            position: relative;
            min-height: 200px;
            background-color: rgba(7, 5, 138, 0.55);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .header-title {
            text-align: center;
            color: white;
            font-family: 'Sans-Serif-Pro', sans-serif;
            font-size: 30px;
            text-transform: uppercase;
        }
        .header-sub-title {
            color: @primaryFontColorWhite;
            text-align: center;
            display: block;
            font-family: Roboto, sans-serif;
            font-size: 14px;
            .breadcrumb-link {
                color: @primaryFontColorWhite;
                text-decoration: underline;
            }
        }
    }
    /* =====  Page Content ===== */
    .page-content {
        background-color: @tertiaryBackgroundColor;
        position: relative;
        z-index: 2;
        padding: 20px;
        .page-title {
            font-family: Roboto, sans-serif;
            font-size: 20px;
            color: @fifthFontColor;
            margin: 10px 25px 0;
        }
        .grid-container {
            display: flex;
            max-width: 992px;
            margin: 0 auto;
            .grid-item {
                position: relative;
                width: 50%;
                min-height: 400px;
                overflow: hidden;
                margin: 40px 20px;
                -webkit-box-shadow: @secondaryBoxShadow;
                -moz-box-shadow: @secondaryBoxShadow;
                box-shadow: @secondaryBoxShadow;
                border-radius: 10px;
                cursor: pointer;
                .bg-image {
                    position: absolute;
                    top: 0;
                    z-index: 0;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                .content-wrapper {
                    position: relative;
                    height: 100%;
                    z-index: 1;
                    font-family: 'Source-Serif-Pro', sans-serif;
                    .title {
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                        width: 100%;
                        text-align: center;
                        margin: 0;
                        color: @primaryFontColorWhite;
                    }
                }
                &.resolution {
                    &:hover {
                        -webkit-box-shadow: @tertiaryBoxShadowGold;
                        -moz-box-shadow: @tertiaryBoxShadowGold;
                        box-shadow: @tertiaryBoxShadowGold;
                    }
                    .content-wrapper {
                        background-color: @themeColorGold-RGBA50;
                    }
                    .title {
                        background-color: @secondaryBackgroundColor;
                    }
                }
                &.congress-sessions {
                    &:hover {
                        -webkit-box-shadow: @forthBoxShadowGold;
                        -moz-box-shadow: @forthBoxShadowGold;
                        box-shadow: @forthBoxShadowGold;
                    }
                    .content-wrapper {
                        background-color: @themeColorBlue-RGBA50;
                    }
                    .title {
                        background-color: @primaryBackgroundColor;
                    }
                }
            }
        }
        @media @mobileAndBelow {
            .page-title {
                margin: 10px 25px;
            }
            .grid-container {
                -ms-flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                .grid-item {
                    width: 100%;
                    min-height: 275px;
                    margin: 20px;
                }
            }
        }
    }
}
