@import "../../variables.less";
@import "../../components/event-grid/event-grid-item.less";

.comp-page-list {
    /* ===== Page List Header =====*/
    .page-list-header {
        position:relative;
        overflow: hidden;
        .header-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            height: 200px;
            z-index: 0;
        }
        .header-text-container {
            position: relative;
            min-height: 200px;
            background-color: rgba(7, 5, 138, 0.55);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .header-title {
            color: white;
            font-family: 'Sans-Serif-Pro', sans-serif;
            font-size: 30px;
            text-transform: uppercase;
            text-align: center;
            @media @tabletAndBelow {
                font-size: 25px;
            }
        }
        .header-sub-title {
            color: #FFFFFF;
            text-align: center;
            display: block;
            font-family: Roboto, sans-serif;
            font-size: 14px;
            .breadcrumb-link {
                color: @primaryFontColorWhite;
                text-decoration: underline;
            }
        }
    }

    /* ===== Page List Content =====*/
    .page-list-content {
        padding: 20px 60px;

        /* ===== Page List Content > Page List Grid =====*/
        .page-list-grid {
            display: inline-block;
            width:70%;
            padding: 20px;
            vertical-align: top;
            .list-title {
                font-family: 'Roboto', sans-serif;
                font-size: 1.2rem;
                font-weight: 500;
                color: @fifthFontColor;
                margin: 10px 15px 0;
            }
        }
        .comp-event-grid-container {
            display: flex;
            flex-wrap: wrap;
        }

        .comp-congress-session-list-container {
            display: -webkit-flex;
            display: flex;
            -ms-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            .congress-session-item-container {
                display: -webkit-flex;
                display: flex;
                width: 48%;
                margin: 0 0 20px;
                border: 1px solid @forthBorderColor;
                padding: 25px 20px;
                cursor: pointer;
            }
            .date-value {
                background: @secondaryBackgroundColor;
                width: 50px;
                height: 50px;
                margin: 0;
                color: @primaryFontColorWhite;
                font-size: 18px;
                font-weight: 700;
                text-align: center;
                line-height: 25px;
            }
            .session-details {
                -webkit-flex-grow: 1;
                flex-grow: 1;
                padding: 0 15px;
            }
            .session-name {
                color: @fifthFontColor;
                font-size: 18px;
                font-weight: 700;
                font-family: 'Roboto', sans-serif;
                margin-bottom: 15px;
            }
            .session-description {
                color: @secondaryFontColorGray;
                font-size: 14px;
                margin-bottom: 15px;
            }
            .author-details {
                font-size: 14px;
                color: @secondaryFontColorGray;
                margin: 0;
            }
            .author-name {
                color: @tertiaryFontColor;
            }
        }

        /* ===== Page List Content > Page List Sidebar =====*/
        .page-list-sidebar {
            display: inline-block;
            width: 30%;
            padding: 20px;
            vertical-align: top;
            .sidebar-section-title {
                position: relative;
                padding-bottom: 10px;
                font-size: 14px;
                margin-top: 30px;
                margin-bottom: 15px;
                font-weight: 700;
                &.search-title {
                    margin-top: 0;
                }
                &::after {
                    position: absolute;
                    content: "";
                    left: 0px;
                    bottom: 0px;
                    border-bottom: 2px solid #4125dd;
                    width: 30px;
                }
            }
            .search-button {
                margin-top: 10px;
            }
            /* ===== Page List Content > Page List Sidebar > Sidebar List =====*/
            .sidebar-list {
                padding: 0;
                font-size: 14px;
                color: @secondaryFontColorGray;
            }
            .sidebar-list-item {
                list-style: none;
                display: block;
                padding: 10px 0;
                border-bottom: 1px dashed #DDDDDD;
                font-size: 13px;
                cursor: pointer;
                &:first-child {
                    padding-top: 0;
                }
                &:hover {
                    .main-details {
                        color: @secondaryFontHoverColor;
                    }
                }
            }
            .list-item-image {
                display: inline-block;
                width: 75px;
                height: 75px;
                vertical-align: middle;
                object-fit: cover;
            }
            .list-item-details {
                display: inline-block;
                vertical-align: top;
                width: calc(100% - 75px);
            }
            .main-details {
                padding: 5px 10px;
                margin: 0;
                font-weight: 500;
                min-height: 35px;
            }
            .sub-details {
                font-weight: 300;
                padding: 0 5px;
                font-size: 12px;
            }
        }
    }

    @media @tabletAndBelow {
        .page-list-content {
            padding: 20px;
            .page-list-grid, .page-list-sidebar {
                padding: 10px;
            }
        }
    }
    @media @mobileAndBelow {
        .page-list-content {
            padding: 10px;
            .page-list-grid, .page-list-sidebar {
                padding: 0;
            }
        }
        .comp-event-grid-container {
            .comp-event-grid-item {
                width: 100%;
            }
        }
    }
}
