@import "../../variables.less";
.comp-page-item-container {
    /* ===== Page Item Header =====*/
    .page-item-header {
        position:relative;
        overflow: hidden;
        .header-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            height: 200px;
            z-index: 0;
        }
        .header-text-container {
            position: relative;
            min-height: 200px;
            background-color: rgba(7, 5, 138, 0.55);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .header-title {
            color: white;
            font-family: 'Sans-Serif-Pro', sans-serif;
            font-size: 30px;
            text-align: center;
            text-transform: uppercase;
            @media @tabletAndBelow {
                font-size: 25px;
            }
        }
        .header-sub-title {
            color: @primaryFontColorWhite;
            text-align: center;
            display: block;
            font-family: Roboto, sans-serif;
            font-size: 14px;
            .breadcrumb-link {
                color: @primaryFontColorWhite;
                text-decoration: underline;
            }
        }
    }

    /* ===== Page Item Content =====*/
    .page-item-content-container {
        padding: 50px 60px;
        background-color: @fifthBackgroundColor;
    }
    @media @mobileAndBelow {
        .page-item-content-container {
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            .page-item-content {
                width: 100%;
            }
            .page-item-sidebar {
                width: 100%;
            }
        }
    }
    .page-item-content {
        display: inline-block;
        vertical-align: top;
        width: ~'calc(70% - 40px)';
        margin-right: 40px;
        .ck-content {
            background-color: @tertiaryBackgroundColor;
            padding: 30px;
        }
    }

    /* ===== Page Photos =====*/
    .page-photos {
        display: inline-block;
        width: 100%;
        background-color: @tertiaryBackgroundColor;
        font-family: Roboto, sans-serif;
         .page-photos-header {
            padding: 25px 20px;
            border-bottom: 2px solid @forthBorderColor;
            .page-photos-header-title {
                font-size: 16px;
                font-weight: 700;
                margin: 0;
            }
        }
        .photo-grid {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            .grid-item {
                position: relative;
                width: 33.3333%;
                height: 250px;
                overflow: hidden;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        @media @tabletAndBelow {
            .page-photos-header {
                padding: 15px;
            }
            .photo-grid {
                .grid-item {
                    width: 50%;
                }
            }
        }
        @media @mobileAndBelow {
            .photo-grid {
                .grid-item {
                    width: 100%;
                }
            }
        }
    }

    /* ===== Page Item Sidebar =====*/
    .page-item-sidebar {
        display: inline-block;
        width: 30%;
        font-family: Roboto, sans-serif;
        .section-header {
            padding: 25px 20px;
            border-bottom: 2px solid @forthBorderColor;
            background-color: @tertiaryBackgroundColor;
            .section-title {
                font-size: 16px;
                font-weight: 700;
                margin: 0;
            }
        }
        /* ===== Page Item Sidebar > Detail Section =====*/
        .detail-list {
            background-color: @tertiaryBackgroundColor;
            list-style: none;
            padding: 0;
            font-size: 14px;
            .icon {
                display: inline-block;
                vertical-align: middle;
                width: 32px;
                font-size: 25px;
                color: @tertiaryFontColor;
            }
            .item-content {
                display: inline-block;
                vertical-align: middle;
                padding-left: 20px;
            }
            .item-content-value {
                margin: 0;
            }
        }
        .detail-item {
            margin: 0 20px;
            padding: 20px 0;
            border-bottom: 2px dotted @forthBorderColor;
        }
        .item-icon {

        }
        .item-content {

        }

        /* ===== Page Item Sidebar > Sponsors Section =====*/
        .sponsors-section {
            margin-top: 30px;
            .sponsor-grid {
                display: flex;
                flex-wrap: wrap;
                padding: 10px;
                background-color: @tertiaryBackgroundColor;
                .grid-item {
                    position: relative;
                    width: ~"calc(50% - 20px)";
                    height: 150px;
                    overflow: hidden;
                    margin: 10px;
                    border: 1px solid @primaryBorderColor;
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        @media @tabletAndBelow {
            .section-header {
                padding: 15px;
            }
            .detail-item {
                padding: 10px 0;
            }
        }
    }
}
