@import "../../variables.less";
@import "../../components/event-grid/event-grid-1.less";
@import "../../components/carousel/event-carousel.less";

.comp-home-content-container {
    .home-content-header-container {
        padding-top: 20px;
        background-color: @primaryBackgroundColor;
        .header-text {
            width: 100%;
            color: #E4B415;
            font-family: 'Source-Serif-Pro', sans-serif;
            font-size: 25px;
            font-weight: 700;
            text-align: center;
        }
        .header-subtitle {
            width: 100%;
            text-align: center;
            color: #E4B415;
            font-family: inherit;
        }
    }
    .announcement-events-row {
        display: flex;
        flex-wrap: wrap;
        background-color: @primaryBackgroundColor;
        padding: 20px;
        font-size: 18px;
        min-height: 700px;
        .announcement-column, .latest-events-column {
            background-color: @fifthBackgroundColor;
            display: inline-block;
            width: ~"calc(38%)";
            overflow: hidden;
        }
        .announcement-column {
            padding: 20px 20px 20px 40px;
            .column-header {
                margin-bottom: 25px;
            }
        }
        .latest-events-column {
            overflow: visible;
            padding: 20px 30px;
            /* Carousel Overrides*/
            .carousel {
                .carousel-control-prev, .carousel-control-next {
                    width: 13%;
                }
                .carousel-control-prev {
                    left: -13%;
                }
                .carousel-control-next {
                    right: -13%;
                }
                .carousel-control-prev-icon, .carousel-control-next-icon {
                    height: 25px;
                    width: 25px;
                }
                .carousel-control-prev-icon {
                    background-image: url("/assets/img/carousel-prev.png");
                }
                .carousel-control-next-icon {
                    background-image: url("/assets/img/carousel-next.png");
                }
                .carousel-control {
                    opacity: 0.8;
                    cursor: pointer;
                }
                .carousel-indicators {
                    bottom: -40px;
                }
                .carousel-indicators li {
                    background-color: @themeColorGold;
                }
            }
        }
        .calendar-of-activities-column {
            background-color: @fifthBackgroundColor;
            position: relative;
            display: inline-block;
            width: ~"calc(24%)";
            padding: 20px 40px 20px 20px;
            overflow: hidden;
            .app-upcoming-event-item {
                display: flex;
                background-color: @tertiaryBackgroundColor;
                .left-area {
                    min-width: 50px;
                    max-width: 50px;
                    background-color: @secondaryBackgroundColor;
                    text-align: center;
                    .date {
                        display: block;
                        color: @primaryFontColorWhite;
                        font-size: 20px;
                        font-weight: bold;
                    }
                    .month {
                        display: block;
                        color: @primaryFontColorWhite;
                    }
                }
                .right-area {
                    padding: 5px 10px;
                    .upcoming-event-title {
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        color: @secondaryFontColorGray;
                        line-height: 25px;
                    }
                }
            }
            .empty-message {
                font-size: 16px;
            }
        }
        .column-header {
            position: relative;
            margin-bottom: 15px;
        }
        .horizontal-line {
            position: absolute;
            top: 13px;
            z-index: 0;
            display: inline-block;
            width: 100%;
            height: 1px;
            border-top: 1px solid @secondaryBorderColor;
        }
        .title {
            position: relative;
            display: inline-block;
            font-size: 22px;
            font-weight: 600;
            color: @tertiaryFontColor;
            background-color: @fifthBackgroundColor;
            padding: 0 10px 0 0;
        }
        @media @mobileAndBelow {
            .announcement-column,
            .latest-events-column {
                width: 50%;
            }
            .calendar-of-activities-column {
                width: 100%;
            }
        }
        @media @smallMobileOnly {
            .announcement-column,
            .latest-events-column,
            .calendar-of-activities-column {
                width: 100%;
            }
        }
    }
    .previous-partners-row {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('/assets/img/sponsors1000.jpg');
        min-height: 300px;
        .overlay {
            background-color: #220871;
            height: 100%;
            width: 100%;
            opacity: 0.7;
            position: absolute;
        }
        .app-sponsors-list {
            position: relative;
            padding: 30px;
        }
        .sponsors-title {
            color: @primaryFontColorWhite;
            text-align: center;
        }
        .highlighted-text {
            font-family: Source-Serif-Pro, sans-serif;
            font-style: italic;
            font-size: 30px;
            color: @tertiaryFontColor;
            border-bottom: 2px solid #FFD700;
        }
        .sponsors-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        .sponsor-item {
            padding: 20px 40px;
        }
    }
    .grievance-form-row {
        flex-wrap: wrap;
        .grievance-form-bg {
            width: 100%;
            height: 100%;
            opacity: 0.2;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            //background-image: url(https://d28htnjz2elwuj.cloudfront.net/wp-content/uploads/2014/03/gavel-green-background-shutterstock-feat.jpg);
            //background-image: url(https://d28htnjz2elwuj.cloudfront.net/wp-content/uploads/2014/04/red-oak-gavel-book-background-feat.jpg);
            //background-image: url(https://i.ndtvimg.com/mt/2015-01/court_generic_650.jpg);
            background-image: url('/assets/img/grievance-form-bg.jpg');
        }
        .grievance-form-header {
            position: relative;
            display: inline-block;
            width: 40%;
            vertical-align: middle;
            background-color: rgba(255,215,0, 1);
            .header-text-container {
                position: absolute;
                top: 50%;
                width: 100%;
                text-align: center;
                -webkit-transform: translateY()(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                color: #FFFFFF;
            }
            .header-subtitle {
                font-weight: 500;
                font-size: 17px;
                padding: 10px 20px;
                text-transform: uppercase;
            }
        }
        .grievance-form-body {
            display: inline-block;
            vertical-align: middle;
            width: 60%;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.6);
            .body-title {
                font-size: 18px;
                text-align: justify;
                padding: 20px 20px 5px;
                margin-bottom: 15px;
            }
            .form-group {
                display: inline-block;
                vertical-align: top;
                padding: 0 10px;
                .invalid-feedback {
                    padding: 0 15px;
                }
            }
            .form-control {
                width: 100%;
                padding: 10px 20px;
                border-radius: 20px;
                border: 1px solid gold;
                background: rgba(255, 255, 255, 0.0);
                font-size: 14px;
                &.is-invalid {
                    border: 1px solid red;
                }
            }
            .send-btn {
                font-size: 15px;
                width: 250px;
                margin: auto auto 10px;
                display: block;
            }
            .message-placeholder {
                text-align: center;
                margin-bottom: 0;
            }
        }
        @media @smallMobileOnly {
            .grievance-form-header {
                width: 100%;
                height: 250px;
            }
            .grievance-form-body {
                width: 100%;
            }
        }
    }
}
