.spinner-wrapper {
    position: relative;
    display: inline-block;
    .spinner-border {
        color: @themeColorGold !important;
    }
    &.spinner-center-text {
        display: block;
        text-align: center;
        .spinner-border {
            height: 100px !important;
            width: 100px !important;
            color: @themeColorGold !important;
        }
        .spinner-text {
            position: absolute;
            top: 48%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 600;
            color: @forthFontColor;
        }
    }
    &.no-text {
        .spinner-text {
            display: none;
        }
    }
}
