@import "../../variables.less";

.comp-resolution-item-container {
    /* =====  Page Header ===== */
    .page-header {
        position:relative;
        overflow: hidden;
        background-image: ~"url('/assets/img/event-list-header-bg.png')";
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        .header-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            height: 200px;
            z-index: 0;
        }
        .header-text-container {
            position: relative;
            min-height: 250px;
            background-color: rgba(7, 5, 138, 0.55);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .header-title {
            color: white;
            font-family: 'Sans-Serif-Pro', sans-serif;
            font-size: 30px;
            text-align: center;
            text-transform: uppercase;
            @media @tabletAndBelow {
                font-size: 25px;
            }
        }
        .header-sub-title {
            color: @primaryFontColorWhite;
            text-align: center;
            display: block;
            font-family: Roboto, sans-serif;
            font-size: 14px;
            .breadcrumb-link {
                color: @primaryFontColorWhite;
                text-decoration: underline;
            }
        }
    }
    /* =====  Page Content ===== */
    .page-content {
        background-color: @tertiaryBackgroundColor;
        position: relative;
        z-index: 2;
        padding: 20px;

        /* =====  Page Content - Resolution Content ===== */
        .resolution-content {
            .resolution-description {
                font-family: 'Source-Serif-Pro', sans-serif;
                padding: 20px 10px;
            }
            .resolution-description {
                max-width: 992px;
                margin: auto;
            }
            .resolution-pdf-viewer {
                display: block;
            }
        }
    }
}
