a, button {
    &.site-btn-primary-outline {
        background-color: @themeColorPrimus !important;
        color: @primaryFontColorWhite !important;
        border: 1px solid @primaryBorderColor !important;
        font-weight: 600;
        font-size: 12px;
    }
}
