<app-ngx-bootstrap-carousel [setCarouselItems]="homeBannerItems"></app-ngx-bootstrap-carousel>
<div class="comp-home-content-container">
    <div class="home-content-header-container">
        <div class="header-text">National University Student Government</div>
        <div class="header-subtitle">Official Website</div>
    </div>
    <div class="announcement-events-row">
        <div class="announcement-column">
            <div class="column-header">
                <span class="horizontal-line"></span>
                <h2 class="title">Announcements</h2>
            </div>
            <div class="column-body" id="facebook_container">
<!--                <div class="fb-page" style="width: 100%;" data-href="https://www.facebook.com/NationalUSG" data-tabs="timeline" data-width="600" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">-->
<!--                    <blockquote cite="https://www.facebook.com/NationalUSG" class="fb-xfbml-parse-ignore">-->
<!--                        <a href="https://www.facebook.com/NationalUSG">National University Student Government</a>-->
<!--                    </blockquote>-->
<!--                </div>-->
                <fb-page href="https://facebook.com/NationalUSG" [width]="faceBookContainerWidth"
                         tabs="timeline" [adaptContainerWidth]="true"></fb-page>
            </div>
        </div>
        <div class="latest-events-column">
            <div class="column-header">
                <span class="horizontal-line"></span>
                <h2 class="title">Latest Events</h2>
            </div>
            <div class="column-body">
                <app-event-carousel [eventList]="latestEvents"></app-event-carousel>
            </div>
        </div>
        <div class="calendar-of-activities-column">
            <div class="column-header">
                <span class="horizontal-line"></span>
                <h2 class="title">Calendar of Activities</h2>
            </div>
            <div class="column-body">
                <ng-container *ngIf="upcomingEvents !== undefined && upcomingEvents.length > 0; else noUpcomingEvents;">
                    <div class="app-upcoming-event-item" *ngFor="let upcomingEvent of upcomingEvents">
                        <div class="left-area">
                            <span class="date">{{upcomingEvent.page_contents[0].json_content.event_date | date: 'dd'}}</span>
                            <span class="month">{{upcomingEvent.page_contents[0].json_content.event_date | date: 'MMM'}}</span>
                        </div>
                        <div class="right-area">
                            <span class="upcoming-event-title">{{upcomingEvent.page_name}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-template #noUpcomingEvents>
                    <span class="empty-message">No Upcoming Events</span>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="previous-partners-row">
        <div class="overlay"></div>
        <div class="app-sponsors-list">
            <h3 class="sponsors-title">Our Previous <span class="highlighted-text">Partners</span></h3>
            <div class="sponsors-list" *ngIf="sponsorsList.length > 0; else noPreviousPartners;">
                <div class="sponsor-item" *ngFor="let sponsor of sponsorsList">
                    <img [src]="sponsor.url" style="height: auto; width: 150px;">
                </div>
            </div>
            <ng-template #noPreviousPartners>
                <p style="
                    color: white;
                    text-align: center;
                    font-size: 20px;
                    margin-top: 20px;">Stay tuned! Previous partners are coming.</p>
            </ng-template>
        </div>
    </div>
    <div class="grievance-form-row" style="background-color: #FFFFFF; border: 1px solid #BBBBBB; display: flex;">
        <div class="grievance-form-header">
            <img class="grievance-form-bg">
            <div class="header-text-container">
                <h2>GRIEVANCE FORM</h2>
                <p class="header-subtitle">Any complaints? Let us know your concern</p>
            </div>
        </div>
        <div class="grievance-form-body">
            <h3 class="body-title">Please fill out the form with your complaint. We will review and follow up with you as soon as possible</h3>
            <form [formGroup]="grievanceForm">
                <div class="form-group w-50">
                    <input formControlName="name" [ngClass]="{'is-invalid': isGrievanceFormSubmitted && gf.name.errors}"
                           class="form-control" id="name" placeholder="Your Name" type="text">
                    <div class="invalid-feedback" *ngIf="isGrievanceFormSubmitted && gf.name.errors">
                        <div *ngIf="gf.name.errors.required">You must provide your name.</div>
                    </div>
                </div>
                <div class="form-group w-50">
                    <input formControlName="email" [ngClass]="{'is-invalid': isGrievanceFormSubmitted && gf.email.errors}"
                           class="form-control" id="email" placeholder="Your Email Address" type="text">
                    <div class="invalid-feedback" *ngIf="isGrievanceFormSubmitted && gf.email.errors">
                        <div *ngIf="gf.email.errors.required">You need to enter your email.</div>
                        <div *ngIf="gf.email.errors.email">You need to provide a valid email.</div>
                    </div>
                </div>
                <div class="form-group w-100">
                    <input formControlName="subject" [ngClass]="{'is-invalid': isGrievanceFormSubmitted && gf.subject.errors}"
                           class="form-control" id="subject" placeholder="What's the main reason for this complaint?" type="text">
                    <div class="invalid-feedback" *ngIf="isGrievanceFormSubmitted && gf.subject.errors">
                        <div *ngIf="gf.subject.errors.required">You must include a subject.</div>
                    </div>
                </div>
                <div class="form-group w-100">
                    <textarea formControlName="concern" [ngClass]="{'is-invalid': isGrievanceFormSubmitted && gf.concern.errors}"
                              class="form-control" id="concern" placeholder="What happened?"></textarea>
                    <div class="invalid-feedback" *ngIf="isGrievanceFormSubmitted && gf.concern.errors">
                        <div *ngIf="gf.concern.errors.required">Please explain your concern.</div>
                    </div>
                </div>
                <div class="form-group w-100">
                    <textarea formControlName="suggestion" [ngClass]="{'is-invalid': isGrievanceFormSubmitted && gf.suggestion.errors}"
                              class="form-control" id="suggestion" placeholder="How can we make things right for you?"></textarea>
                    <div class="invalid-feedback" *ngIf="isGrievanceFormSubmitted && gf.suggestion.errors">
                        <div *ngIf="gf.suggestion.errors.required">Kindly provide a suggestion.</div>
                    </div>
                </div>
                <button (click)="submitGrievanceForm()" [disabled]="grievanceFormState === 'Sending' && grievanceForm.valid"
                        class="btn btn site-btn-primary-outline send-btn">
                    {{(grievanceFormState === 'Sending' ? 'Sending. Please wait...' : '')}}
                    {{(grievanceFormState === 'Sent' ? 'Send Message' : '')}}
                    {{((grievanceFormState === 'Error' || grievanceFormState === '') ? 'Send Message' : '')}}
                </button>
                <p class="message-placeholder"
                   [ngClass]="{'text-success': grievanceFormState === 'Sent', 'text-danger': grievanceFormState === 'Error',
                   'invisible': (grievanceFormState !== 'Sent' && grievanceFormState !== 'Error')}">
                    {{grievanceFormState === '' ? 'Sent. Thank you for reaching us' : ''}}
                    {{grievanceFormState === 'Sending' ? 'Sending. Please wait...' : ''}}
                    {{grievanceFormState === 'Sent' ? 'Sent. Thank you for reaching us.' : ''}}
                    {{grievanceFormState === 'Error' ? 'Our grievance form is currently down. You can reach us on facebook instead.' : ''}}
                </p>
            </form>
        </div>
    </div>
</div>
