<div class="comp-page-about-us-container">
    <div class="page-header">
<!--        <img class="header-bg" src="assets/img/event-list-header-bg.png">-->
        <div class="header-text-container">
            <div class="header-text">
                <h1 class="header-title">About Us</h1>
                <span class="header-sub-title">
                    <a class="breadcrumb-link" [routerLink]="['/']">Home</a> &gt; About Us
                </span>
            </div>
        </div>
    </div>
    <div class="page-content">
        <section class="who-are-we-section">
            <div class="logo-wrapper">
                <img class="logo" src="assets/img/logo_485x485.png">
            </div>
            <div class="mission-vision-wrapper">
                <div class="about-us-title">
                    <h2 class="about-the-text">About The </h2><h2 class="nusg-text">National University Student Government</h2>
                </div>
                <div class="site-panel vision-wrapper">
                    <div class="panel-header">
                        <fa-icon class="icon" icon="eye"></fa-icon>
                        <h3 class="title">Our Vision</h3>
                    </div>
                    <div class="panel-body">
                        <p class="p-text" *ngIf="isPageLoaded" [innerHTML]="pageDetails.json_content.vision"></p>
                    </div>
                </div>
                <div class="site-panel mission-wrapper">
                    <div class="panel-header">
                        <fa-icon class="icon" icon="bullseye"></fa-icon>
                        <h3 class="title">Our Mission</h3>
                    </div>
                    <div class="panel-body">
                        <p class="p-text" *ngIf="isPageLoaded" [innerHTML]="pageDetails.json_content.mission"></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="organizational-chart-section">
            <div class="organizational-chart-header">
                <h2 class="title">
                    <strong class="know-our-text">Know Our</strong>
                    <span class="organizational-chart-text">Organizational Chart</span>
                </h2>
            </div>
            <div class="organizational-chart-body" id="organizational_chart_body">
                <ng-template [ngIf]="isPageLoaded">
                    <a target="_blank" [href]="organizational_chart.url" *ngFor="let organizational_chart of pageDetails.json_content.organizational_chart">
                        <img class="organizational-chart-image" [src]="organizational_chart.url">
                    </a>
                </ng-template>
            </div>
        </section>
        <section class="officers-section">
            <div class="officers-section-header">
                <h2 class="officers-title"><strong class="our-text">Our</strong><span class="officers-text">Officers</span></h2>
            </div>
            <div class="officers-section-body ck-content" *ngIf="isPageLoaded" [innerHTML]="pageDetails.json_content.officers"></div>
        </section>
    </div>
</div>
