<div class="comp-page-contact-us-container">
    <div class="page-header">
        <div class="header-text-container">
            <div class="header-text">
                <h1 class="header-title">Contact Us</h1>
                <span class="header-sub-title">
                    <a class="breadcrumb-link" [routerLink]="['/']">Home</a> &gt; Contact Us
                </span>
            </div>
        </div>
    </div>
    <div class="page-content">
        <section class="contact-us-wrapper">
            <div class="left-content">
                <div class="panel-group" *ngIf="pageDetails?.json_content?.email1 !== null || pageDetails?.json_content?.email2 !== null">
                    <div class="icon-content">
                        <fa-icon class="icon" [icon]="['fas', 'envelope']"></fa-icon>
                    </div>
                    <div class="text-content">
                        <strong class="heading">Email</strong>
                        <a *ngIf="pageDetails?.json_content?.email1 !== null" class="item" href="mailto: {{pageDetails.json_content.email1}}">
                            {{pageDetails.json_content.email1}}
                            <fa-icon class="icon" icon="hand-point-left"></fa-icon>
                        </a>
                        <a *ngIf="pageDetails?.json_content?.email2 !== null" class="item" href="mailto: {{pageDetails.json_content.email1}}">
                            {{pageDetails.json_content.email2}}
                            <fa-icon class="icon" icon="hand-point-left"></fa-icon>
                        </a>
                    </div>
                </div>

                <div class="panel-group" *ngIf="pageDetails?.json_content?.facebook !== null">
                    <div class="icon-content">
                        <fa-icon class="icon" [icon]="['fab', 'facebook-square']"></fa-icon>
                    </div>
                    <div class="text-content">
                        <strong class="heading">Facebook</strong>
                        <a *ngIf="pageDetails?.json_content?.facebook !== null" class="item" [href]="pageDetails.json_content.facebook">
                            {{pageDetails.json_content.facebook}}
                        </a>
                    </div>
                </div>
                <div class="panel-group" *ngIf="pageDetails?.json_content?.instagram !== null">
                    <div class="icon-content">
                        <fa-icon class="icon" [icon]="['fab', 'instagram-square']"></fa-icon>
                    </div>
                    <div class="text-content">
                        <strong class="heading">Instagram</strong>
                        <a *ngIf="pageDetails?.json_content?.instagram !== null" class="item" [href]="pageDetails.json_content.instagram">
                            {{pageDetails.json_content.instagram}}
                        </a>
                    </div>
                </div>
                <div class="panel-group" *ngIf="pageDetails?.json_content?.twitter !== null">
                    <div class="icon-content">
                        <fa-icon class="icon" [icon]="['fab', 'twitter-square']"></fa-icon>
                    </div>
                    <div class="text-content">
                        <strong class="heading">Twitter</strong>
                        <a *ngIf="pageDetails?.json_content?.twitter !== null" class="item" [href]="pageDetails.json_content.twitter">
                            {{pageDetails.json_content.twitter}}
                        </a>
                    </div>
                </div>
                <div class="panel-group" *ngIf="pageDetails?.json_content?.address1 !== null || pageDetails?.json_content?.address2 !== null">
                    <div class="icon-content">
                        <fa-icon class="icon" [icon]="['fas', 'map-marked-alt']"></fa-icon>
                    </div>
                    <div class="text-content">
                        <strong class="heading">Address</strong>
                        <p *ngIf="pageDetails?.json_content?.address1 !== null" class="item">
                            {{pageDetails.json_content.address1}}
                        </p>
                        <p *ngIf="pageDetails?.json_content?.address2 !== null" class="item">
                            {{pageDetails.json_content.address2}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="right-content">
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.9079096022306!2d120.99244001420678!3d14.604321580902344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c9fc11a6ceb3%3A0x9d4220dade0140ab!2sNational%20University-Manila!5e0!3m2!1sen!2sph!4v1590380757954!5m2!1sen!2sph" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </section>
    </div>
</div>
