<div class="comp-page-nusg-student-congress-container">
    <div class="page-header">
        <div class="header-text-container">
            <div class="header-text">
                <h1 class="header-title">NUSG Student Congress</h1>
                <span class="header-sub-title">
                    <a class="breadcrumb-link" [routerLink]="['/']">Home</a> &gt; NUSG Student Congress
                </span>
            </div>
        </div>
    </div>
    <div class="page-content">
        <h2 class="page-title">What would you like to see?</h2>
        <div class="grid-container">
            <section class="grid-item resolution" [routerLink]="['/nusg-student-congress/resolutions']">
                <div class="content-wrapper">
                    <h2 class="title">Resolutions</h2>
                </div>
                <img class="bg-image" src="assets/img/resolution.jpg">
            </section>
            <section class="grid-item congress-sessions"  [routerLink]="['/pages/congress_session_page']">
                <div class="content-wrapper">
                    <h2 class="title">Congress Sessions</h2>
                </div>
                <img class="bg-image" src="assets/img/session.jpg">
            </section>
        </div>
    </div>
</div>
