<div class="comp-carousel-container">
    <carousel [noPause]="compCarouselConfig.noPause">
        <slide class="comp-carousel-item fadeIn" *ngFor="let carouselItem of carouselItems">
            <div class="comp-carousel-item-container">
                <img class="comp-carousel-item-image" [src]="carouselItem.url[0].url">
            </div>
        </slide>
    </carousel>
</div>
