<div class="comp-college-list-container">
    <div class="page-header">
        <div class="header-text-container">
            <div class="header-text">
                <h1 class="header-title">Colleges</h1>
                <span class="header-sub-title">
                    <a class="breadcrumb-link" [routerLink]="['/']">Home</a> &gt; Colleges
                </span>
            </div>
        </div>
    </div>
    <div class="page-content" style="min-height: 350px;">
        <h2 class="page-title">
            <span class="horizontal-line"></span>
            <span class="text">National University Colleges</span>
        </h2>
        <section class="college-list-grid" *ngIf="isCollegeListLoaded && collegeList.length > 0">
            <div class="college-item" *ngFor="let college of collegeList" routerLink="/colleges/{{college.college_id}}">
                <img class="college-logo" [src]="college.college_logo[0].url">
                <h3 class="college-name">{{college.college_name}}</h3>
            </div>
        </section>
        <ng-template [ngIf]="isCollegeListLoaded && collegeList.length == 0">
            <section class="college-list-grid" style="min-height: 200px;">
                <p style="
                    color: black;
                    text-align: center;
                    font-size: 20px;
                    margin-top: 15px;">Stay tuned! Colleges are coming.</p>
            </section>
        </ng-template>
    </div>
</div>
