@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.comp-carousel-container {
    position: relative;
    height: calc(100vh - 100px);
}
.comp-carousel-item {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.comp-carousel-item-container {
    position: relative;
    height: calc(100vh - 100px);
    color: @primaryFontColorWhite;

    text-align: center;
    .comp-carousel-item-image {
        position:absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
