@import "../../variables.less";

.comp-college-item-container {
    /* =====  Page Header ===== */
    .page-header {
        position: relative;
        overflow: hidden;
        background-image: ~"url('/assets/img/event-list-header-bg.png')";
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;

        .header-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            height: 200px;
            z-index: 0;
        }

        .header-text-container {
            position: relative;
            min-height: 300px;
            background-color: rgba(7, 5, 138, 0.55);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }

        .header-logo {
            display: block;
            margin: 0 auto 20px;
            height: 150px;
            width: 150px;
        }

        .header-title {
            color: white;
            font-family: 'Sans-Serif-Pro', sans-serif;
            font-size: 30px;
            text-align: center;
            text-transform: uppercase;
            @media @tabletAndBelow {
                font-size: 25px;
            }
        }

        .header-sub-title {
            color: @primaryFontColorWhite;
            text-align: center;
            display: block;
            font-family: Roboto, sans-serif;
            font-size: 14px;

            .breadcrumb-link {
                color: @primaryFontColorWhite;
                text-decoration: underline;
            }
        }
    }

    /* =====  Page Content ===== */
    .page-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 20px 7% 10px;
        margin-bottom: 20px;
        .left-area {
            width: 65%;
            padding: 20px 20px 10px;
        }
        .introduction-section {

        }
        .event-list-section {
            margin-top: 25px;
        }
        .section-title {
            font-size: 20px;
            color: @tertiaryFontColor;
        }
        .event-list {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            max-width: 1200px;
            margin: 0 auto;
            .event-item-container {
                width: 100%;
                padding: 10px 0;
            }
            .event-item {
                height: 100%;
                cursor: pointer;
                box-shadow: @primaryBoxShadow;
                &:hover {
                    box-shadow: @secondaryBoxShadow;
                }
            }
            .event-image-wrapper {
                display: inline-block;
                width: 150px;
                height: 100%;
                vertical-align: middle;
            }
            .event-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .event-details {
                display: inline-block;
                vertical-align: top;
                width: calc(100% - 150px);
                padding: 15px;
            }
            .date-and-author {
                color: @tertiaryFontColor;
                font-size: 14px;
                font-weight: 600;
            }
            .name {
                font-size: 18px;
                color: @fifthFontColor;
            }
            .description {
                font-size: 14px;
                color: @secondaryFontColorGray;
            }
        }
        .right-area {
            width: 35%;
            padding: 10px;
        }
        .announcement-section {
            margin-top: 10px;
        }
        .announcement-body {
            margin-top: 15px;
        }
        .courses-offered-section {
            &.desktop {
                @media @tabletAndBelow {
                    display: none;
                }
            }
            &.mobile {
                display: block;
                margin-top: 15px;
                @media @desktopAndLarger {
                    display: none;
                }
            }
        }
        .course-list {
            list-style-type: circle;
        }
        .course-item {
            font-size: 14px;
            //color: @fifthFontColor;
            font-weight: 500;
            a {
                color: inherit;
                text-decoration: underline;
            }
        }
        @media @tabletAndBelow {
            padding: 20px 3% 10px;
            .event-list {
                .event-item-container {
                    width: 50%;
                }
            }
        }
        @media @mobileAndBelow {
            padding: 10px 2% 10px;
            .left-area,
            .right-area {
                width: 100%;
                padding: 20px;
            }
            .event-list {
                .event-item-container {
                    width: 100%;
                }
            }
        }
    }
}
