@import "../../variables.less";

.comp-college-list-container {
    /* =====  Page Header ===== */
    .page-header {
        position:relative;
        overflow: hidden;
        background-image: ~"url('/assets/img/event-list-header-bg.png')";
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        .header-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            height: 200px;
            z-index: 0;
        }
        .header-text-container {
            position: relative;
            min-height: 250px;
            background-color: rgba(7, 5, 138, 0.55);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .header-title {
            color: white;
            font-family: 'Sans-Serif-Pro', sans-serif;
            font-size: 30px;
            text-align: center;
            text-transform: uppercase;
            @media @tabletAndBelow {
                font-size: 25px;
            }
        }
        .header-sub-title {
            color: @primaryFontColorWhite;
            text-align: center;
            display: block;
            font-family: Roboto, sans-serif;
            font-size: 14px;
            .breadcrumb-link {
                color: @primaryFontColorWhite;
                text-decoration: underline;
            }
        }
    }

    /* =====  Page Content ===== */
    .page-content {
        background-color: @tertiaryBackgroundColor;
        position: relative;
        z-index: 2;
        padding: 20px;

        .page-title {
            position: relative;
            color: @tertiaryFontColor;
            font-family: 'Source-Serif-Pro', sans-serif;
            font-weight: 700;
            font-size: 26px;
            text-align: center;
            .horizontal-line {
                position: absolute;
                top: 14px;
                left: 0;
                z-index: 0;
                display: inline-block;
                width: 100%;
                height: 1px;
                border-top: 1px solid @secondaryBorderColor;
            }
            .text {
                position: relative;
                display: inline-block;
                padding: 0 10px;
                background-color: @tertiaryBackgroundColor;
            }
        }

        /* =====  College List ===== */
        .college-list-grid {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 30px;
            .college-item {
                width: 200px;
                text-align: center;
                cursor: pointer;
                .college-logo {
                    width: 150px;
                    height: 150px;
                }
                .college-name {
                    font-size: 16px;
                    color: @fifthFontColor;
                    margin-top: 20px;
                }
            }
        }
    }
}
