.comp-event-grid-1 {
    .event-item {
        background-color: @tertiaryBackgroundColor;
        -webkit-transition: 300ms ease-out;
        -moz-transition: 300ms ease-out;
        -ms-transition: 300ms ease-out;
        -o-transition: 300ms ease-out;
        transition: 300ms ease-out;
        cursor: pointer;
        margin-top: 0;
        border: 1px solid @primaryBorderColor;
        &:hover {
            border: 1px solid @secondaryBorderColor;
            .event-image {
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
            }
            .event-button {
                opacity: 0.9;
            }
        }
    }
    .event-image-wrapper {
        position: relative;
        overflow: hidden;
        min-height: 250px;
    }
    .event-image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        -webkit-transition: 300ms ease-out;
        -moz-transition: 300ms ease-out;
        -ms-transition: 300ms ease-out;
        -o-transition: 300ms ease-out;
        transition: 300ms ease-out;
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        transform: scale(1.0);
    }
    .event-button {
        opacity: 0;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5px 20px;
        background: #300c9c;
        border: 1px solid white;
        border-radius: 0;
        -webkit-transition: 300ms ease-out;
        -moz-transition: 300ms ease-out;
        -ms-transition: 300ms ease-out;
        -o-transition: 300ms ease-out;
        transition: 300ms ease-out;
    }
    .event-details {
        position: relative;
        top: 0;
        padding: 20px 15px;
        background-color: @tertiaryBackgroundColor;
        height: 225px;
    }
    .technical-details {
        position: absolute;
        bottom: 0;
        width: ~"calc(100% - 30px)";
        font-size: 14px;
        font-style: italic;
        color: @secondaryFontColorGray;
        margin-bottom: 30px;
        padding-top: 7px;
        border-top: 1px dashed @primaryBorderColor;
    }
    .event-title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
        color: @sixthFontColor;
    }
    .event-short-description {
        font-size: 14px;
        color: @secondaryFontColorGray;
    }
}
