.comp-event-grid-item {
    display: flex;
    flex-wrap: wrap;
    width: ~"calc(50% - 40px)";
    margin: 20px;
    cursor: pointer;
    -webkit-transition: ease-out 300ms;
    -moz-transition: ease-out 300ms;
    -ms-transition: ease-out 300ms;
    -o-transition: ease-out 300ms;
    transition: ease-out 300ms;
    &:hover {
        -webkit-box-shadow: @primaryBoxShadow;
        -moz-box-shadow: @primaryBoxShadow;
        box-shadow: @primaryBoxShadow;
    }
    .grid-item-image-container {
        position: relative;
        width: 100%;
        height: 200px;
        .grid-item-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    /*===== Grid Item Details =====*/
    .grid-item-details {
        width: 100%;
        padding: 20px 15px;
        .technical-details {
            color: @secondaryFontColorGray;
            font-size: 13px;
            font-weight: 300;
            font-style: italic;
            margin-bottom: 15px;
        }
        .description {
            color: @secondaryFontColorGray;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
        }
        .title {
            font-size: 18px;
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 15px;
        }
        .read-more {
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            font-weight: 500;
            color: #C9A014;
            .icon {
                color: @tertiaryFontColor;
            }
        }
    }
}
