<div class="comp-page-list">
    <div class="page-list-header">
        <img class="header-bg" src="assets/img/event-list-header-bg.png">
        <div class="header-text-container">
            <div class="header-text" *ngIf="pageCategoryCode === 'event_page'">
                <h1 class="header-title">Our Events</h1>
                <span class="header-sub-title">
                    <a class="breadcrumb-link" [routerLink]="['/']">Home</a> &gt; Events
                </span>
            </div>
            <div class="header-text" *ngIf="pageCategoryCode === 'congress_session_page'">
                <h1 class="header-title">Congress Sessions</h1>
                <span class="header-sub-title">
                    <a class="breadcrumb-link" [routerLink]="['/']">Home</a>
                    >
                    <a class="breadcrumb-link" [routerLink]="['/nusg-student-congress']">NUSG Student Congress</a>
                    &gt; Congress Sessions
                </span>
            </div>
        </div>
    </div>
    <div class="page-list-content" style="min-height: 350px;">
        <div class="page-list-grid" [ngStyle]="{width: (!showSidebar) ? '100%': ''}">
            <app-page-404 class="comp-page-404" *ngIf="error404flag && !comingSoonFlag"></app-page-404>
            <p class="list-title" *ngIf="!comingSoonFlag">
                <ng-template [ngIf]="error404flag && !comingSoonFlag"> Or you might be interested with these events:</ng-template>
                <ng-template [ngIf]="eventCategoryName"> {{eventCategoryName}}</ng-template>
            </p>
            <p class="list-title" *ngIf="comingSoonFlag" style="min-height: 250px;">
                Stay tuned. {{pageCategoryCode === 'event_page' ? 'Events' : 'Congress Sessions'}} are coming!
            </p>
            <div class="spinner-wrapper spinner-center-text" *ngIf="latestEventsData === undefined && !comingSoonFlag">
                <div class="spinner-border" role="status" aria-hidden="true"></div>
                <span class="spinner-text"> Loading... </span>
            </div>
            <ng-container *ngIf="pageCategoryCode === 'event_page'; else congressSessionTemplate;">
                <div class="comp-event-grid-container" *ngIf="latestEventsData !== undefined">
                    <div class="comp-event-grid-item" *ngFor="let event of latestEventsData"
                         (click)="pageItemClickEvent(event.page_detail_id, event.page_name)">
                        <div class="grid-item-image-container">
                            <img *ngIf="event.page_contents[0].json_content.event_images[0] !== undefined" class="grid-item-image" [src]="event.page_contents[0].json_content.event_images[0].url">
                        </div>
                        <div class="grid-item-details">
                            <div class="technical-details">
                                <fa-icon class="icon" icon="user"></fa-icon> {{event.user_credential_name}}
                                <fa-icon class="icon" icon="clock"></fa-icon> {{event.page_contents[0].json_content.event_date}}
                            </div>
                            <h3 class="title">{{event.page_name}}</h3>
                            <p class="description">{{event.page_description}}</p>
                            <a class="read-more" [routerLink]="['/pages/event_page/' + event.page_detail_id]"> Click to read more<fa-icon class="icon" icon="arrow-right"></fa-icon></a>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #congressSessionTemplate>
                <ng-container *ngIf="pageCategoryCode === 'congress_session_page'">
                    <div class="comp-congress-session-list-container" *ngIf="latestEventsData !== undefined">
                        <div class="congress-session-item-container" *ngFor="let congressSession of latestEventsData" (click)="congressSessionItemClickEvent(congressSession.page_detail_id, congressSession.page_name)">
                            <div class="date-area">
                                <p class="date-value">{{congressSession.page_contents[0].json_content.event_date | date: 'MMM dd'}}</p>
                            </div>
                            <div class="session-details">
                                <h3 class="session-name">{{congressSession.page_name}}</h3>
                                <p class="session-description">{{congressSession.page_description}}</p>
                                <p class="author-details">by <span class="author-name">{{congressSession.user_credential_name}}</span></p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-template>
            <pagination *ngIf="showPagination"
                        [hidden]="error404flag && latestEventsData === undefined"
                        (pageChanged)="pageChangeEvent($event)" [(ngModel)]="currentPageNumber"
                        [boundaryLinks]="true" [totalItems]="totalNumberOfPages" [itemsPerPage]="itemsPerPage"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
        <div class="page-list-sidebar" *ngIf="showSidebar">
<!--            <h5 class="sidebar-section-title search-title">Search</h5>-->
<!--            <form action="#">-->
<!--                <input type="text" class="form-control" placeholder="Search" style="font-size: 14px;">-->
<!--                <a href="#" class="btn site-btn-primary-outline search-button">SEARCH</a>-->
<!--            </form>-->

            <h5 class="sidebar-section-title">Upcoming Events</h5>
            <ul class="sidebar-list">
                <li class="sidebar-list-item" *ngFor="let upcomingEvent of this.upcomingEventsData"
                    (click)="pageItemClickEvent(upcomingEvent.page_detail_id, upcomingEvent.page_name)">
                    <img *ngIf="upcomingEvent.page_contents[0].json_content.event_images[0] !== undefined" class="list-item-image" [src]="upcomingEvent.page_contents[0].json_content.event_images[0].url">
                    <div class="list-item-details">
                        <p class="main-details">{{upcomingEvent.page_name}}</p>
                        <div class="sub-details">
                            <fa-icon class="icon" icon="user"></fa-icon> {{upcomingEvent.user_credential_name}}
                            <fa-icon class="icon" icon="clock"></fa-icon> {{upcomingEvent.page_contents[0].json_content.event_date}}
                        </div>
                    </div>
                </li>
                <li class="sidebar-list-item" *ngIf="!upcomingEventsData">
                    There are no upcoming events
                </li>
            </ul>

            <h5 class="sidebar-section-title">Categories</h5>
            <ul class="sidebar-list">
                <li class="sidebar-list-item" (click)="eventCategoryClick(0, 'Our Latest Events')">All</li>
                <li class="sidebar-list-item" *ngFor="let eventCategory of this.eventCategories" (click)="eventCategoryClick(eventCategory.event_category_id, eventCategory.event_category_name)">
                    {{eventCategory.event_category_name}}
                </li>
            </ul>

<!--            <h5 class="sidebar-section-title">Archive</h5>-->
<!--            <ul class="sidebar-list">-->
<!--                <li class="sidebar-list-item">January 2020</li>-->
<!--                <li class="sidebar-list-item">February 2020</li>-->
<!--            </ul>-->
        </div>
    </div>
</div>
