<div class="comp-page-item-container">
    <div class="page-item-header">
        <img class="header-bg" src="assets/img/event-list-header-bg.png">
        <div class="header-text-container">
            <div class="header-text" *ngIf="pageCategoryCode === 'event_page'">
                <h1 class="header-title" *ngIf="isPageLoaded">{{pageDetails.json_content.event_name}}</h1>
                <div class="spinner-wrapper no-text" *ngIf="pageName == null && isPageLoaded === false">
                    <div class="spinner-border" role="status" aria-hidden="true"></div>
                    <span class="spinner-text"> Loading... </span>
                </div>
                <span class="header-sub-title">
                    <a class="breadcrumb-link" [routerLink]="['/']">Home</a> &gt;
                    <a class="breadcrumb-link" [routerLink]="['/pages/event_page']">Events</a> &gt;
                    {{pageName}}
                </span>
            </div>
            <div class="header-text" *ngIf="pageCategoryCode === 'congress_session_page'">
                <h1 class="header-title" *ngIf="isPageLoaded">{{pageDetails.json_content.event_name}}</h1>
                <div class="spinner-wrapper no-text" *ngIf="pageName == null && isPageLoaded === false">
                    <div class="spinner-border" role="status" aria-hidden="true"></div>
                    <span class="spinner-text"> Loading... </span>
                </div>
                <span class="header-sub-title">
                    <a class="breadcrumb-link" [routerLink]="['/']">Home</a>
                    >
                    <a class="breadcrumb-link" [routerLink]="['/nusg-student-congress']">NUSG Student Congress</a>
                    >
                    <a class="breadcrumb-link" [routerLink]="['/pages/congress_session_page']">Congress Sessions</a>
                    > {{pageName}}
                </span>
            </div>
        </div>
    </div>
    <div class="page-item-content-container">
        <div class="page-item-content">
            <div class="spinner-wrapper spinner-center-text" *ngIf="!isPageLoaded">
                <div class="spinner-border" role="status" aria-hidden="true"></div>
                <span class="spinner-text"> Loading... </span>
            </div>
            <ng-template [ngIf]="pageCategoryCode === 'congress_session_page'">
                <h2>{{pageDetails.json_content.event_name}}</h2>
                <h6 style="font-weight: 400;">Posted By: {{pageDetails.user_credential_name}} | {{pageDetails.event_date}}</h6>
            </ng-template>
            <ng-template [ngIf]="isPageLoaded">
                <section class="ck-content" [innerHTML]="pageDetails.json_content.event_content | safeHtml">
                </section>
            </ng-template>
            <div class="page-photos" style="margin-top: 30px;" *ngIf="isPageLoaded && pageDetails.json_content.event_images !== undefined && pageDetails.json_content.event_images.length > 0">
                <div class="page-photos-header">
                    <h2 class="page-photos-header-title">Gallery</h2>
                </div>
                <div class="photo-grid" id="photo_grid">
                    <div class="grid-item" *ngFor="let event_image of pageDetails.json_content.event_images">
                        <img [src]="event_image.url">
                    </div>
                </div>
            </div>
        </div>
        <div class="page-item-sidebar" *ngIf="showSidebar">
            <section class="details-section">
                <div class="section-header">
                    <h2 class="section-title">Details of the Event</h2>
                </div>
                <ul class="detail-list">
                    <li class="detail-item">
                        <fa-icon class="icon" icon="calendar"></fa-icon>
                        <span class="item-content">
                            <strong>DATE OF EVENT</strong>
                            <p class="item-content-value" *ngIf="isPageLoaded">{{pageDetails.event_date}}</p>
                        </span>
                    </li>
                    <li class="detail-item">
                        <fa-icon class="icon" [icon]="['fab', 'elementor']"></fa-icon>
                        <span class="item-content">
                            <strong>EVENT CATEGORY</strong>
                            <p class="item-content-value" *ngIf="isPageLoaded">{{pageDetails.event_category_name}}</p>
                        </span>
                    </li>
                    <li class="detail-item">
                        <fa-icon class="icon" icon="user-edit"></fa-icon>
                        <span class="item-content">
                            <strong>POSTED BY</strong>
                            <p class="item-content-value" *ngIf="isPageLoaded">{{pageDetails.user_credential_name}}</p>
                        </span>
                    </li>
                </ul>
            </section>
            <section class="sponsors-section">
                <div class="section-header">
                    <h2 class="section-title">Our Sponsors/Partners</h2>
                </div>
                <div class="sponsor-grid" *ngIf="isPageLoaded">
                    <ng-container *ngIf="pageDetails.json_content.sponsors_partners !== undefined && pageDetails.json_content.sponsors_partners !== null; else noSponsors;">
                        <ng-template [ngIf]="pageDetails.json_content.sponsors_partners.length > 0">
                            <div class="grid-item" *ngFor="let sponsor of pageDetails.json_content.sponsors_partners">
                                <img [src]="sponsor.url">
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-template #noSponsors>
                        <p class="text-secondary small">There were no sponsors/partners during this event.</p>
                    </ng-template>
                </div>
            </section>
        </div>
    </div>
</div>
