@fonts-path: '../../fonts';
/* ===================== Open-Sans-Condensed ======================== */
@font-face {
    font-family: 'Open-Sans-Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("@{fonts-path}/OpenSansCondensed-Light.ttf");
}
@font-face {
    font-family: 'Open-Sans-Condensed';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("@{fonts-path}/OpenSansCondensed-LightItalic.ttf");
}
@font-face {
    font-family: 'Open-Sans-Condensed';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("@{fonts-path}/OpenSansCondensed-Bold.ttf");
}
/* ===================== Source-Serif-Pro ======================== */
@font-face {
        font-family: 'Source-Serif-Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("@{fonts-path}/SourceSerifPro-Regular.ttf");
}
@font-face {
    font-family: 'Source-Serif-Pro';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("@{fonts-path}/SourceSerifPro-SemiBold.ttf");
}
@font-face {
    font-family: 'Source-Serif-Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("@{fonts-path}/SourceSerifPro-Bold.ttf");
}
/* ===================== Roboto ======================== */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("@{fonts-path}/Roboto-Regular.ttf");
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("@{fonts-path}/Roboto-Medium.ttf");
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("@{fonts-path}/Roboto-Bold.ttf");
}
