/* ===================== Theme Colors ======================== */
@themeColorPrimus: #141F3D;
@themeColorGold: #FFD700;
@themeColorGold-RGBA50: rgba(255,215,0, 0.5);

@themeColorBlue: #220871;
@themeColorBlue-RGBA5: rgba(34,8,113, 0.05);
@themeColorBlue-RGBA50: rgba(34,8,113, 0.50);
@themeColorGold-Darker: #C9A014;

/* ===================== Container Background Colors ======================== */
@primaryBackgroundColor: @themeColorPrimus;
@secondaryBackgroundColor: @themeColorGold;
@tertiaryBackgroundColor: #FFFFFF;
@forthBackgroundColor: #333333;
@fifthBackgroundColor: #F6F9F9;
@sixthBackgroundColor: #EEEEEE;

@eventHeaderBackgroundColor: rgba(7, 5, 138, 0.55);

/* ===================== Font Colors ======================== */
@primaryFontColorWhite: #FFFFFF;
@primaryFontHoverColor: @themeColorGold;
@secondaryFontColorGray: #555555;
@secondaryFontHoverColor: @themeColorGold;
@tertiaryFontColor: @themeColorGold;
@forthFontColor: @themeColorGold-Darker;
@fifthFontColor: @themeColorBlue;
@fifthFontHoverColor: #683EE8;
@sixthFontColor: #000000;
/* ===================== Icon Colors ======================== */
@primaryIconColorGray: #CCCCCC;
/* ===================== Border ======================== */
@primaryBorderColor: #BBBBBB;
@secondaryBorderColor: @themeColorGold;
@tertiaryBorderColor: @themeColorBlue;
@forthBorderColor: #F0F0F0;
/* ===================== Box Shadow ======================== */
@primaryBoxShadowColor: #CCCCCC;
@secondaryBoxShadowColor: #AAAAAA;
@tertiaryBoxShadowColor: @themeColorGold;
@forthBoxShadowColor: @themeColorPrimus;
@primaryBoxShadow: 0px 2px 16px 1px @primaryBoxShadowColor;
@secondaryBoxShadow: 0px 2px 10px 4px @secondaryBoxShadowColor;
@tertiaryBoxShadowGold: 0px 2px 10px 1px @tertiaryBoxShadowColor;
@forthBoxShadowGold: 0px 2px 10px 1px @forthBoxShadowColor;

/* ===================== Viewport ======================== */
@smallMobileOnly:   ~"(max-width: 480px)";
@mobileAndBelow:    ~"(max-width: 767px)";
@tabletOnly:        ~"(min-width: 768px) and (max-width: 991px)";
@tabletAndBelow:    ~"(max-width: 991px)";
@desktopOnly:       ~"(min-width: 992px) and (max-width: 1280px)";
@desktopAndBelow:   ~"(max-width: 1280px)";
@desktopAndLarger:  ~"(min-width: 992px)";
@largerThanDesktop: ~"(min-width: 1281px)";