.pagination {
    .pagination-page {
        &.active {
            .page-link {
                background-color: @themeColorPrimus;
                border-color: @themeColorPrimus;
            }
        }
    }
}
