.site-header {
    position: relative;
    z-index: 2;
    min-height: 100px;
    box-shadow: 0 2px 3px 0 @primaryBorderColor;
    .header-top-container {
        height: 25px;
        // background-color: @forthBackgroundColor;
        background-color: @primaryBackgroundColor;
        font-size: 14px;
        padding: 0 175px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        @media @mobileAndBelow {
            padding: 0 75px;
        }
        @media @smallMobileOnly {
            padding: 0 20px;
        }
        .clearfix();
        .left-area {
            display: inline-block;
            vertical-align: middle;
            float: left;
            padding: 2px;
        }
        .questions {
            color: @themeColorGold;
            padding-right: 10px;
        }
        .email, .location {
            color:#FFFFFF;
            font-size: 0.90em;
            padding-left: 5px;
        }
        .right-area {
            float: right;
            padding: 2px;
        }
        .social-media-container {
            display: inline-block;
        }
    }
    .header-nav-left-container, .header-nav-right-container {
        display: inline-block;
    }
    .site-navigation {
        position: relative;
        min-width: 992px;
        max-width: 1200px;
        margin: auto;
        font-family: 'Roboto', sans-serif;
        @media @tabletAndBelow {
            display: none;
        }
        .header-nav-left-container, .header-nav-right-container {
            width: ~"calc(50% - 143px)";
            overflow: hidden;
            white-space: nowrap;
            vertical-align: middle;
            padding-left: 0;
            margin-bottom: 0;
            font-size: 15px;
        }
        .header-nav-left-container {
            text-align: right;
        }
        .header-nav-right-container {
            text-align: left;
        }
        .site-nav-item {
            display: inline-block;
            min-width: 100px;
            max-width: 33.3333%;
            padding: 10px;
            vertical-align: middle;
            white-space: initial;
            text-align: center;
            font-weight: 500;
            color: @fifthFontColor;
            a {
                color: @fifthFontColor;
                &:hover {
                    color: @fifthFontHoverColor;
                }
            }
            &:hover {
                color: @fifthFontHoverColor;
            }
        }
        .brand-container {
            display: inline-block;
            height: 100%;
            color: @forthFontColor;
            .brand-logo {
                height: 75px;
            }
            .brand-name-container {
                display: inline-block;
                vertical-align: middle;
                width: 210px;
                padding: 1rem;
                line-height: 1.3;
                text-transform: capitalize;
            }
            .brand-name {
                display: inline-block;
                font-family: 'Open-Sans-Condensed', sans-serif;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
    .mobile-site-navigation {
        position: relative;
        display: none;
        text-align: center;

        @media @tabletAndBelow {
            display: block;
        }
        .hamburger-button {
            position: absolute;
            top: 15px;
            left: 0;
            height: 50px;
            width: 50px;
            vertical-align: middle;
            background-color: @tertiaryBackgroundColor;
            border: none;
            padding: 10px;
            margin: 0 10px;
            transition: transform 1s;
            &.active {
                transform: rotate(90deg);
            }
        }
        .brand-container {
            display: inline-block;
            color: @forthFontColor;
            @media (max-width: 400px) {
                margin-left: 60px;
            }
            .brand-logo {
                height: 75px;
            }
            .brand-name-container {
                display: inline-block;
                vertical-align: middle;
                width: 210px;
                padding: 1rem;
                line-height: 1.3;
                text-transform: capitalize;
            }
            .brand-name {
                display: inline-block;
                font-family: 'Open-Sans-Condensed', sans-serif;
                font-size: 20px;
                font-weight: 600;
            }
        }
        .site-nav-links {
            height: 0;
            overflow: hidden;
            transition: height 500ms;
            list-style-type: none;
            padding: 0;
            &.active {
                height: 270px;
            }
        }
        .site-nav-item {
            padding: 10px 20px;
            font-weight: 500;
            color: @fifthFontColor;
            &:not(:last-of-type) {
                border-bottom: 1px solid mediumslateblue;
            }
            a {
                color: @fifthFontColor;
                &:hover {
                    color: @fifthFontHoverColor;
                }
            }
        }
    }
}
