<header class="site-header">
    <section class="header-top-container">
        <span class="left-area">
            <strong class="questions">Questions? </strong>
            <fa-icon class="icon" icon="envelope"></fa-icon>
            <a href="mailto: nusg1920@gmail.com"><span class="email">nusg1920@gmail.com</span></a>
            <fa-icon class="icon" icon="hand-point-left"></fa-icon>
<!--            <fa-icon class="icon" icon="address-book"></fa-icon>-->
<!--            <span class="location">551MF Jhocson Street, Sampaloc, Manila</span>-->
        </span>
        <span class="right-area">
            <span class="social-media-container">
                <a class="facebook icon" href="https://www.facebook.com/NationalUSG" target="_blank"><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon></a>
                <a class="facebook icon" href="https://twitter.com/hellonusg"><fa-icon class="facebook" [icon]="['fab', 'twitter']"></fa-icon></a>
            </span>
        </span>
    </section>
    <nav class="site-navigation">
        <ul class="header-nav-left-container">
            <li class="site-nav-item"><a routerLink="/">Home</a></li>
            <li class="site-nav-item"><a routerLink="/about-us">About Us</a></li>
            <li class="site-nav-item"><a routerLink="/pages/event_page">Events</a></li>
        </ul>
        <span class="brand-container">
            <img class="brand-logo" src="assets/img/logo_485x485.png" alt="NUSG Logo">
            <span class="brand-name-container">
                <span class="brand-name">National University</span>
                <span>Student Government</span>
            </span>
        </span>
        <ul class="header-nav-right-container">
            <li class="site-nav-item"><a routerLink="/colleges">Colleges</a></li>
            <li class="site-nav-item"><a routerLink="/nusg-student-congress">NUSG Student Congress</a></li>
            <li class="site-nav-item"><a routerLink="/contact-us">Contact Us</a></li>
        </ul>
    </nav>
    <nav class="mobile-site-navigation">
        <button class="hamburger-button" [ngClass]="{'active': isMobileLinksActive}" (click)="toggleMobileLinks()">
            <fa-icon icon="bars"></fa-icon>
        </button>
        <span class="brand-container">
            <img class="brand-logo" src="assets/img/logo_485x485.png" alt="NUSG Logo">
            <span class="brand-name-container">
                <span class="brand-name">National University</span>
                <span>Student Government</span>
            </span>
        </span>
        <ul class="site-nav-links" [ngClass]="{'active': isMobileLinksActive}">
          <li class="site-nav-item"><a routerLink="/" (click)="navigationItemClickEvent('Home')">Home</a></li>
          <li class="site-nav-item"><a routerLink="/about-us" (click)="navigationItemClickEvent('About Us')">About Us</a></li>
          <li class="site-nav-item"><a routerLink="/pages/event_page" (click)="navigationItemClickEvent('Events')">Events</a></li>
          <li class="site-nav-item"><a routerLink="/colleges" (click)="navigationItemClickEvent('Coleges')">Colleges</a></li>
          <li class="site-nav-item"><a routerLink="/nusg-student-congress" (click)="navigationItemClickEvent('NUSG Student Congress')">NUSG Student Congress</a></li>
          <li class="site-nav-item"><a routerLink="/contact-us" (click)="navigationItemClickEvent('Contact Us')">Contact Us</a></li>
        </ul>
    </nav>
</header>
