@import "../../variables.less";

.comp-page-404-container {
    max-width: 300px;
    margin: auto;
    text-align: center;
    .upper-text {
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 1rem;
    }
    .main-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 4rem;
        color: @fifthFontColor;
        margin-bottom: 0;
    }
    .lower-text {
        text-transform: uppercase;
        font-size: 1rem;
    }
    .redirect-button {
        text-transform: uppercase;
        margin-bottom: 15px;
    }
}
