<div class="comp-page-404-container">
    <p class="upper-text">Oops! Page not found</p>
    <h2 class="main-text">404</h2>
    <p class="lower-text"> We could not find the events you are looking for! </p>
    <button class="btn site-btn-primary-outline redirect-button" [routerLink]="['/']" >Go to Homepage</button>
</div>

